
.draggable-content{
    width: 100%;
    height: 95%;
    background-color: white;
    -webkit-app-region: drag;
}

.test {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.test > div {
    margin-top: 10px;
    padding: 25px;
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    box-shadow: 3px 3px 3px #888281;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
}

.down {
    background-color: #dd4b39;
}

.up {
    background-color: #00a65a;
}

.up > span {
    font-size: 10px;
}

.seed {
    color:#adff2f;
}

.preferred {
    color:#90d8f5
}

.iconContainer {
    margin-top: 10px;
}